 .login-register {
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
	background-color: white;
	padding: 2%;
	min-width: 250px;
	box-shadow: 0.5px 0.5px 8px 0px #d3d3d2;
  }
  .login-register h3 {
	font-size: 2rem;
	text-align: center;
	font-weight: 400;
  }
  .main-content{
	margin: auto;
	box-shadow: 0.5px 0.5px 8px 0px #d3d3d2;
  }
  .company__info{
	  box-sizing: border-box;
	display: flex;
	align-items: center;
	box-shadow: 0.5px 0.5px 8px 0px #d3d3d2;
  }
  
  @media screen and (max-width : 767px){
	.company__info{
	  min-width: 250px;
	  border-right: none;
	  border-bottom: 1px solid black;
	  display: block;
	  padding: 20px 0px;
	}
	.error span {
		font-size:10px;
	}
  }
  
  .company__logo{
	margin: auto;
  }
  
  